*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Sans-Serif;
}

#banner1{
    width:728px;
    height:90px;
    color:#ffffff;
    border:1px solid #000000;
    font-size:18px;
    overflow: hidden;
    display: block;
    position: relative;

}

#slideBtext1,#slideBtext2{

    z-index:9999;
}

.header_text_center{
    text-align:center;
    margin-top:35px;
    width:568px;
}
.header_text{

    margin-top:35px;
    margin-left:225px;


}

.header_text_left{
    text-align:center;
    margin-top:25px;
    width:568px;
}
.slide{
    position: absolute;
    width:inherit;
}
#slideBtext1,#slideBtext2,#slideBtext3,#slideDtext1,#slideDtext2,#slideDtext3,#slideAtext1,#slideAtext2,#slideAtext3,#slideCtext1,#slideCtext2,#slideCtext3,#slideCtext4{

    position: relative;

}

#back{
    position: absolute;
}

#logo{
    opacity:0;
    margin-top:20px;
    float:left;
    margin-left:608px;
    position:absolute;
    z-index:9999;
}
#slideE{
    position:absolute;

}
#slideEtext{
    margin-top:18px;
    position:relative;
   margin-left:50px;

}
#slideE11,#slideE12,#slideE13{
    font-weight: bold;
    position:relative;
   font-size:25px;
}
#code{
    position:relative;
    width:280px;
    background-color: #ffffff;
    font-size:8px;
    color:#58595b;
    margin-top:-27px;
    margin-left:440px;
}
#code p{
    margin-left:5px;
    margin-top:3px;

}
#getStart{
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    width: 110px;
    height: 30px;
    background-color:#f68621;
    margin-top: -60px;
    text-align: center;
    color: #ffffff;
    line-height: 230%;
    font-size: 14px;
    cursor: pointer;
    font-weight: 800;
    left: 585px;
}
#getStart:hover{
    background-color:#e35205;
}
#glitter{
    position: absolute;
    z-index: 601;
    width: 130px;
    height: 34px;
    top: 0;
    left: -158px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+39,ffffff+64,ffffff+100&amp;0+0,1+39,1+64,0+100;White+to+Transparent */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 64%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(39%,rgba(255,255,255,1)), color-stop(64%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 64%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 64%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 64%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 64%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
